@using MVCQLBH.Models
@using MVCQLBH.Ultilities

@model ProInfo

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutManageProduct.cshtml";
}

@section style{
    <link href="~/Content/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Content/css/summernote.css" rel="stylesheet" />
    <style type="text/css">
        .error {
            color: red;
        }

        label {
            font-weight: normal !important;
        }
    </style>
}

@section script{
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/fileinput.min.js"></script>
    <script src="~/Content/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/js/summernote.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/alert.js"></script>
    <script type="text/javascript">
        $('.selectpicker').selectpicker({
            //style: 'btn-info',
            //size: 4
        });
        $("#input-imgLg").fileinput({
            showUpload: false,
        });
        $("#input-imgSm").fileinput({
            showUpload: false,
        });
        $("input[name='price']").TouchSpin({
            initval: 500,
            min: 500,
            max: 1000000000,
            stepinterval: 50,
            maxboostedstep: 10000000,
            prefix: 'VNĐ'
        });
        $("input[name='quantity']").TouchSpin({
            initval: 1,
            min: 1,
            verticalbuttons: true,
            verticalupclass: 'glyphicon glyphicon-plus',
            verticaldownclass: 'glyphicon glyphicon-minus'
        });
        $('#FullDesRaw').summernote();
        //$("#frmAdd").validate({
        //    rules: {
        //        ProNameInfo: "required",
        //        PriceInfo: "required",
        //        QuantityInfo: "required",
        //        XuatXuInfo: "required",
        //        TinyDesInfo: "required",
        //        FullDesRaw: "required",
        //        HinhChinh: "required",
        //        HinhPhu: "required",
        //    },
        //    messages: {
        //        ProNameInfo: "Cần nhập tên sản phẩm",
        //        PriceInfo: "Cần nhập giá sản phẩm",
        //        QuantityInfo: "Cần nhập số lượng sản phẩm",
        //        XuatXuInfo: "Cần nhập xuất xứ sản phẩm",
        //        TinyDesInfo: "Cần nhập mô tả ngắn sản phẩm",
        //        FullDesRaw: "Cần nhập mô tả sản phẩm",
        //        HinhChinh: "Cần nhập hình chính cho sản phẩm",
        //        HinhPhu: "Cần nhập hình phụ cho sản phẩm",
        //    }
        //});
    </script>

}


@section ContentHeader{
    Thêm mới sản phẩm
}

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.ErrorMsg != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.ErrorMsg
            </div>
            //<p class="error">@ViewBag.ErrorMsg</p>
            //<p class="alert alert-warning" role="alert">@ViewBag.ErrorMsg</p>
        }

        @using (Html.BeginForm("AddPro", "ManageProduct", FormMethod.Post, new { @class = "form-horizontal", id = "frmAdd", enctype = "multipart/form-data"}))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.ProNameInfo, "Tên sản phẩm:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ProNameInfo, new { @class = "form-control", placeholder = "tên sản phẩm" })
                </div>
                @Html.LabelFor(m => m.CatIDInfo, "Danh mục:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.CatIDInfo, Html.GetSLICat(), new { @class = "form-control selectpicker", placeholder = "danh mục" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PriceInfo, "Giá:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "giá" })*@
                    <input name="price" type="text" class="form-control">
                </div>
                @Html.LabelFor(m => m.QuantityInfo, "Số lượng:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    <input name="quantity" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.XuatXuInfo, "Xuất xứ:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.XuatXuInfo, new { @class = "form-control", placeholder = "xuất xứ" })
                </div>
                @Html.LabelFor(m => m.LoaiInfo, "Loại:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    <select name="loai" class="form-control selectpicker">
                        <option>Cao cấp</option>
                        <option>Trung cấp</option>
                        <option>Thường</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IDNhaSanXuatInfo, "Tên nhà sản xuất:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.IDNhaSanXuatInfo, Html.GetSLINhaSanXuat(), new { @class = "form-control selectpicker", placeholder = "tên nhà sản xuất" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.Label("Hình chính:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                   <input id="input-imgLg" type="file" name="imgLg"/>
                </div>
                @Html.Label("Hình phụ:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    <input id="input-imgSm" type="file" name="imgSm" />
                </div>
            </div>*@

            <div class="form-group">
                @*@Html.Label("Hình chính:", new { @class = "col-sm-2 control-label" })*@
                @Html.LabelFor(m => m.HinhChinh, "Hình chính:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    <input id="input-imgLg" type="file" name="imgLg" />
                </div>
                @*@Html.Label("Hình phụ:", new { @class = "col-sm-2 control-label" })*@
                @Html.LabelFor(m => m.HinhChinh, "Hình phụ:", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    <input id="input-imgSm" type="file" name="imgSm" />
                </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.TinyDesInfo, "Mô tả ngắn:", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.TinyDesInfo, new { @class = "form-control", placeholder = "mô tả ngắn" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FullDesRaw, "Mô tả:", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @*TextAreaFor: là Text nhiều dòng*@
                        @Html.TextAreaFor(m => m.FullDesRaw, new { @class = "form-control", placeholder = "mô tả" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            &nbsp;Thêm
                        </button>
                    </div>
                </div>
                }
            </div>
</div>

